.page {
  font-family: Poppins, sans-serif;
  font-size: 36px;
  line-height: 100%;
  background-color: #1d1d1d;
  color: #fff;

  scroll-behavior: smooth;

  &__body {
    margin: 0;
    min-width: 320px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    transition:
      transform $effect-duration $effect-easing,
      opacity $effect-duration $effect-easing;
    opacity: 0;
    transform: translateX(-100%);
    pointer-events: none;

    &:target {
      opacity: 1;
      transform: translateX(0);
      pointer-events: all;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}
